.education-heading{
    background: linear-gradient(90deg, rgba(128, 128, 128, 0.477), rgba(128, 128, 128, 0.485)), url('/assets/images/edu1.jpg');;
    height: 70vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    h1{
        font-size: 50px;
        font-weight: 600;
        color:white;

        @media only screen and (max-width:479px){
            font-size: 25px;
        }
    }
.line{
    width: 100px;
    height: 3px;
    background-color:white;
}
}
// ======================service btns
.service-btn{
    @media only screen and (max-width:991px){
        padding: 0px !important;
        margin: 0px !important;
     }
}
.service-btn-active{
    @media only screen and (max-width:991px){
        padding: 0px !important;
        margin: 0px !important;
     }
}
.service-btn button{
    background-color: white;
    font-size: 18px !important;
    color: $primary;
    padding: 14px 15px;
    border-radius: 0px 15px 0px 15px;
    border: 0px solid $primary;
    font-weight: 500;
    border: 2px solid $primary;
    text-align: left;
    width: 100%;
    position: relative;
    @media only screen and (max-width:991px){
        display: none;
        padding: 0px !important;
        margin: 0px !important;
     }
    &:hover{
        background-color: $primary;
        color: white;
    }
    i{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px
    }
   
}


.service-btn-active button{
    background-color: $primary;
    font-size: 18px !important;
    color: white;
    padding: 14px 15px;
    border-radius: 0px 15px 0px 15px;
    border: 0px solid $primary;
    font-weight: 500;
    border: 2px solid $primary;
   text-align: left;
   position: relative;
   @media only screen and (max-width:991px){
    display: none;
 }
   i{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px
}
   
}
.service-img img{
    height: 360px;
    width: 100%;
    @media only screen and (max-width:991px){
       display: none;
    }
}
.sm-none{
    @media only screen and (max-width:479px){
       display: none;
    }
}
.repair-heading{
    background: linear-gradient(90deg, rgba(128, 128, 128, 0.477), rgba(128, 128, 128, 0.485)), url('/assets/images/creditcard3.jpg');;
    height: 70vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    h1{
        font-size: 50px;
        font-weight: 600;
        color:white;
        @media only screen and (max-width:479px){
            font-size: 25px;
        }
    }
.line{
    width: 100px;
    height: 3px;
    background-color:white;
}
}
.approval-heading{
    background: linear-gradient(90deg, rgba(128, 128, 128, 0.477), rgba(128, 128, 128, 0.485)), url('/assets/images/dylan-gillis-xKmXZ4Fv63w-unsplash.jpg');;
    height: 70vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    h1{
        font-size: 50px;
        font-weight: 600;
        color:white;
        @media only screen and (max-width:479px){
            font-size: 25px;
        }
    }
.line{
    width: 100px;
    height: 3px;
    background-color:white;
}
}

.limit-heading{
    background: linear-gradient(90deg, rgba(128, 128, 128, 0.477), rgba(128, 128, 128, 0.485)), url('/assets/images/blake-wisz-q3o_8MteFM0-unsplash.jpg');;
    height: 70vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    h1{
        font-size: 50px;
        font-weight: 600;
        color:white;
        @media only screen and (max-width:479px){
            font-size: 25px;
        }
    }
.line{
    width: 100px;
    height: 3px;
    background-color:white;
}
}

.negative-heading{
    background: linear-gradient(90deg, rgba(128, 128, 128, 0.477), rgba(128, 128, 128, 0.485)), url('/assets/images/wallpaper2.jpg');;
    height: 70vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    h1{
        font-size: 50px;
        font-weight: 600;
        color:white;
        @media only screen and (max-width:479px){
            font-size: 25px;
        }
    }
.line{
    width: 100px;
    height: 3px;
    background-color:white;
}
}
.tradeline-heading{
    background: linear-gradient(90deg, rgba(128, 128, 128, 0.477), rgba(128, 128, 128, 0.485)), url('/assets/images/raul-varzar-PdeoQLQFAPg-unsplash.jpg');;
    height: 70vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    h1{
        font-size: 50px;
        font-weight: 600;
        color:white;
        @media only screen and (max-width:479px){
            font-size: 25px;
        }
    }
.line{
    width: 100px;
    height: 3px;
    background-color:white;
}
}
// ====================================pkg details
.details-card{
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.07);
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    h1{
        font-size: 24px !important;
    }
}
.details-card-text{
    h1{
        font-size: 20px;
        font-weight: 500;
        color: $secondary;
    }
    h2{
        font-size: 18px;
        font-weight: 600;
        color: $primary;

    }
    ul{
        padding: 0px;
        list-style: none;
        li{
            font-size: 16px;
            padding: 10px 0px;
            border-bottom: 1px solid $light-gray;
            i{
                color: $primary;
            }
        }
    }
}
.price-row{
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
    h1{
        font-size: 16px !important;
        color: white;
        font-weight: 500;
        margin: 0px !important;
        padding: 0px !important;
    }
    h2{
        font-size: 16px !important;
        color: white;
        font-weight: 500;
        margin: 0px !important;
        padding: 0px !important;
    }
}
.notice{
    background-color: rgba(255, 0, 0, 0.259);
    border: 1px solid red;
    padding: 14px;
    border-radius: 5px;
    h1{
        color: red;
        font-size: 20px !important;
        font-weight: 500;
    }
}
.tabcontent-pkg {
    display: none;
   
}
.tabcontent-pkgC {
    display: none;
   
}
.tablinks{
    background-color: $primary;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 30px !important;
    border: 2px solid $primary;
    border-radius: 3px;
    margin: 10px 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &:hover{
        background-color: white;
color: $primary;
    }
}
.active-pkg{
background-color: white;
color: $primary;
}

    .tablinksC{
        background-color: $primary;
        color: white;
        font-size: 18px;
        font-weight: 500;
        padding: 6px 30px !important;
        border: 2px solid $primary;
        border-radius: 3px;
        margin: 10px 3px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        &:hover{
            background-color: white;
    color: $primary;
        }
    }
    .active-pkgC{
        background-color: white;
        color: $primary;
        }
    
        .active-duration{
            background-color: white !important;
            color: $primary !important;
            }


.tablinksD{
    background-color: $primary;
        color: white;
        font-size: 18px;
        font-weight: 500;
        padding: 6px 30px !important;
        border: 2px solid $primary;
        border-radius:0px 30px 0px 30px;
        margin: 10px 3px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        min-width: 220px;
        &:hover{
            background-color: white;
    color: $primary;
        } 
}


// =============================================services
.tradelines-card{
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:6px  10px 50px 10px;
    position: relative;
    height: 100%;
    .disabled-btn button{
        background-color: gray !important;
        scale: (1) !important;
        cursor:not-allowed;
    }
    .add-to-cart{
        background-color: $primary;
        border-radius: 3px;
        font-size: 16px;
        color: white;
        text-align: center;
        cursor: pointer;
        transition: all .6s;
        font-weight: 500;
        border: none !important;
        padding: 8px 20px;
        position: absolute;
        bottom: 15px;
        &:hover{
            scale: (1.01);
        }
    }
    .trade-notice{
        font-size: 14px;
        color: red;
        text-align: center;
    }
   &--img{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 200px;
    object-fit: cover;
    border-radius: 3px;
    }
   }
   &--text{
    margin-top: 15px;
    h1{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    p{
        font-size: 17px;
        font-weight: 500;
        padding: 3px 0px !important;
    }
    h2{
        font-size: 14px;
        font-weight: 400;
    }
    h4{
        font-size: 16px;
        font-weight: 500;
        padding-left: 10px;
    }
   }
}
.copy-reserved{
    padding: 20px;
    background-color: $primary;
    color: white;
    text-align: center;
    border-radius: 5px
}


// custome select
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    width: 230px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: none !important;
    padding: 5px 10px !important;
    color: black;
   
    &:focus{
        outline: none;
        border: none;
    }
  }
  
  
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent black transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;

  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  .select-items{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .sort-div{
    @media only screen and (max-width:767px){
        flex-direction: column !important;
        justify-content: space-between;
    }
  }
  .profile-dropdown{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: none !important;
    padding: 5px 10px !important;
    color: $primary;
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    @media only screen and (max-width:991px){
        margin-left: 0px !important;
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
  }
  .cart-icon{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: none !important;
    padding: 5px 10px !important;
    color: $primary;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    @media only screen and (max-width:991px){
       margin-left: 0px !important;
       margin-top: 20px;
    }
  }
  .cart-number{
    background-color: $primary;
    position: absolute;
    top: -8px;
    right: -3px;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .cart-lg{
    display: inline;
    @media only screen and (max-width:991px){
        display: none;
    }
  }
  .cart-sm{
    display: none;
    @media only screen and (max-width:991px){
        display: inline;
    }
  }
  .cart-table-img{
    height: 80px;
    width: 80px;
    object-fit: contain;
  }
  .cart-table tbody tr{
    border-bottom: 1px solid rgb(187, 184, 184);
  }
.cart-table tbody tr td{
    height: 95px;
    border-bottom: 0px !important;
}
.cart-table thead tr th{
    white-space: nowrap;
    background-color: $light-gray;
    border-bottom:1px solid rgb(229, 226, 226) !important;
    border-top: 1px solid rgb(229, 226, 226) !important;
}
.table-data{
    padding-top: 35px !important;
}
.bi-x-square-fill{
    cursor: pointer;
}
.cart-wrapper{
    overflow-x: auto;
    
}
.cart-table{
    
    @media only screen and (max-width:991px){
        width: 800px;
    }
}
.checkout-btn{
    background-color: $primary;
    padding: 8px 10px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 4px;
}
.agreement-input{
    font-size: 14px;
   border: none ;
   border-bottom: 1px solid black;
   &:active,
   &:focus{
    outline: none !important;
    box-sizing: none !important;
   }
}
.text-justify{
    text-align: justify !important;
}